﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Pesawat</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
</head>
<body class="body3">
    <div class="container">
        <p style="padding-bottom:80px;"> </p>
        <div class="form">
            <center><h3 style="font-style : oblique; color:wheat;">Book a hotel room</h3></center>
            <form>
                <div class="form-group">
                    <label for="sel1" style="font-style : oblique; color:white;">Sneak in</label>
                    <select class="form-control" id="sneak">
                        <option>-</option>
                        <option>Medan</option>
                        <option>Jakarta</option>
                        <option>Bali</option>
                    </select>
                    <label for="sel1" style="font-style : oblique; color:white;">Check in Date</label>
                    <input type="date" class="form-control" id="dates">
                    </input>
                    <label for="sel1" style="font-style : oblique; color:white;">Duration</label>
                    <select class="form-control" id="duration">
                        <option>-</option>
                        <option>1 Night</option>
                        <option>2 Night</option>
                        <option>3 Night</option>
                        <option>4 Night</option>
                        <option>5 Night</option>
                        <option>6 Night</option>
                        <option>1 Week</option>
                    </select>
                    <label for="sel1" style="font-style : oblique; color:white;">Number of sneaks</label>
                    <select class="form-control" id="sneaks">
                        <option>-</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                    <label for="sel1" style="font-style : oblique; color:white;">Number of Rooms</label>
                    <select class="form-control" id="rooms">
                        <option>-</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <br />
                    <input id="input" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
</body>
</html>


