﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
</head>
<body class="body1">
    <div class="container">
        <p style="padding-bottom:150px;"> </p>
        <div class="form">
            <center><img src="~/Content/images/logo.png" style="margin-bottom : 20px;padding-top:10px; width:350px;"></center>
            <form method="POST" action="#">
                <input id="input" type="text" name="nama" placeholder="Username">
                <input id="input" type="password" name="pass" placeholder="Password">
                <input id="input" type="submit" value="Login">
                <a href="~/Home/Register.cshtml"><p>Sign Up</p></a>
            </form>
        </div>
    </div>
</body>
</html>

