﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Pesawat</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
</head>
<body class="body2">
    <div class="container">
        <p style="padding-bottom:120px;"> </p>
        <div class="form">
            <center><h3 style="font-style : oblique; color:wheat;">Book Airplane Tickets</h3></center>
            <form>
                <div class="form-group">
                    <label for="sel1" style="font-style : oblique; color:black;">From :</label>
                    <select class="form-control" id="from">
                        <option>-</option>
                        <option>Medan</option>
                        <option>Jakarta</option>
                        <option>Bali</option>
                    </select>
                    <label for="sel1" style="font-style : oblique; color:black;">To :</label>
                    <select class="form-control" id="to">
                        <option>-</option>
                        <option>Medan</option>
                        <option>Jakarta</option>
                        <option>Bali</option>
                    </select>
                    <label for="sel1" style="font-style : oblique; color:black;">Date of Departure</label>
                    <input type="date" class="form-control"  id="date">
                    </input>
                    <label for="sel1" style="font-style : oblique; color:black;">Passanger</label>
                    <select class="form-control" id="people">
                        <option>-</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                    <br />
                    <input id="input" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

