﻿#header {
    width: 100%;
    background: #252525;
}

.jumbotron {
    position : relative;
    background: url(images/pantai.jpg) center center;
    width : 100%;
    height:100%;
    background-size : cover;
    overflow:hidden;
}

h2{
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size : 50px;
    color: black;
}

.body1 {
    font-family: sans-serif;
    background: url(images/pantai.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.body2 {
    font-family: sans-serif;
    background:url(images/as.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body3 {
    font-family: sans-serif;
    background: url(images/hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    /*ketebalan font*/
    font-weight: 300;
}

.form {
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 20px 6px;
    border-radius: 5px;
    width: 400px;
    margin: 15px auto;
    padding: 20px;
}

    .form h1 {
        color: #eee;
        text-align: center;
    }

    .form img {
        width: 200px;
    }

#input {
    background: rgba(23, 20, 20, 0.52);
    font-size: 12pt;
    font-family: arial;
    color: #eee;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 10px;
    margin: 3px;
    border-radius: 3px;
    border: none;
}

    #input[type="submit"] {
        background: rgba(31, 15, 2, 0.78);
        color: #fff;
        cursor: pointer;
    }

    #input:hover, #input:focus {
        background: rgba(97, 52, 13, 0.55);
        outline-style: none;
    }

    #input[type="submit"]:hover, #input[type="submit"]:focus {
        background: rgba(31, 15, 2, 0.78);
<<<<<<< HEAD
    }


.input {
    background: rgba(23, 20, 20, 0.52);
    font-size: 12pt;
    font-family: arial;
    color: #eee;
    width: 100%;
    height: 40px;
    padding: 5px 5px 5px 10px;
    margin: 3px;
    border-radius: 3px;
    border: none;
}
=======
    }
>>>>>>> 9d16c238edaf5a08cadb6b03ac6f0ac5a465a7aa
